@import "../../style/variables.scss";
@import "../../style/breakpoints";

.single-comic {
  @include md {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 293px auto auto;
    column-gap: 30px;
    align-items: start;
  }
  margin-top: 30px;
  display: grid;
  grid-template-columns: auto;
  column-gap: 30px;
  align-items: start;
  &__img {
    @include lg {
      width: 293px;
      height: 450px;
    }
    width: 243px;
    height: 350px;
  }
  &__name {
    font-weight: bold;
    font-size: 22px;
    line-height: 29px;
  }
  &__descr {
    font-size: 18px;
    line-height: 24px;
    margin-top: 25px;
  }
  &__price {
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: $main-color;
    margin-top: 25px;
  }
  &__back {
    justify-self: end;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    &:hover {
      color: $main-color;
    }
  }
}
